@media (min-width: 1440px) {
  #main {
    max-width: 1440px;
    margin: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.309); */
    background-color: white;
  }
}
@media (max-width: 1200px) {
  .categories {
    margin: 25px 0 20px 21px;
    overflow-x: auto;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }

  header {
    margin: 0 20px;
    padding: 0;
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  nav {
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 30px 100px 30px 25px;
    right: -280px;
    align-items: flex-start;
    transition: 0.3s ease-in-out;
    top: 60px;
    gap: 0;
  }
  nav ul {
    flex-direction: column;
    align-items: flex-start;

    gap: 35px;
    margin: 0;
  }
  header .buttons {
    align-items: flex-start;
    flex-direction: column;
  }
  header .buttons .languageBtn,
  header .buttons .loginBtn {
    padding: 0;
    margin-top: 35px;
  }
  header .buttons .getStartedBtn {
    margin-top: 35px;
  }
}

@media (max-width: 950px) {
  .search-bar {
    width: 529px;
  }
  .hero-section h1 {
    font-size: 40px;
    width: 826px;
    /* position: relative; */
  }
  .maxScreenFooter {
    padding: 24px 0px;
    gap: 64px;
    align-self: stretch;
    margin: 0 92px;
  }

  /* .categories::before {
    z-index: 20;
    content: "";
    position: absolute;
    height: 200px;
    top: 500px;
    right: 0;
    bottom: 0;
    width: 40px; 
    background: linear-gradient(
      to left,
      #f8fdf8 0%,
      rgba(248, 253, 248, 0.313) 100%
    );
    pointer-events: none; 
  } */
}
@media (max-width: 820px) {
  .search-bar {
    width: 500px;
  }
  .hero-section h1 {
    font-size: 40px;
    width: 98%;
  }
  .maxScreenFooter {
    display: none;
  }
  .minScreenFooter {
    display: flex;
  }
  .cta {
    display: block;
  }
  .contentContainer {
    margin-bottom: 40px;
  }
}
@media (max-width: 600px) {
  .search-bar {
    width: 90%;
  }
}

@media (max-width: 400px) {
  #main {
    width: 400px;
  }
  .crossIcon {
    display: block;
  }
  nav {
    z-index: 120;
    padding-right: 100px;
  }
  .hero-section {
    width: 100%;
    height: 347px;
  }
  .hero-section h1 {
    text-align: center;
    font-family: "Cabinet Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.64px;
    width: 348px;
    overflow: hidden;
  }
  .search-bar {
    width: 343px;
    height: 52px;
  }
  .breadcrumb {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .categories {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .blogsContainer {
    flex-direction: column;
    margin: 0 0px;
    /* padding: 0 20px; */
    row-gap: 40px;
  }
  .blogsContainer .blog {
    width: 353px;
    height: 333px;
    flex-shrink: 0;
  }
  .blog .imgContainer {
    /* width: 364.06px; */
    height: 226.162px;
    flex-shrink: 0;
  }
  .blog .titleSection {
    display: flex;
    width: 353px;
    justify-content: space-between;
    align-items: center;
  }
  .blog .titleSection p {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
  }
  .blog .featured {
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
  .pagination {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .pagination .previousArrow,
  .previousArrowText {
    display: none;
  }
  .pagination p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
  }
  .maxScreenFooter {
    display: none;
  }
  .minScreenFooter {
    display: flex;
  }
  .cta {
    display: block;
  }

  .contentContainer {
    margin-bottom: 0;
  }
}
